.SearchBar {
  background-color: var(--color-anti-flash-white);
  padding: 0.5rem 0;

  &__wrapper {
    position: relative;
    width: 50%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__input {
    outline: none;
    border: none;
    border-radius: 1rem;
    padding: .5rem 3rem;
    width: 90%;
    background-color: var(--color-silver);
    font-size: 16px;
    box-shadow: 0px 1px 3px var(--color-silver);
  
    &::placeholder {
        color: var(--color-anti-flash-white);
      }
  }

  svg {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(100%, -50%);
    fill: var(--color-anti-flash-white);
  }
}