.UserProfile {
  width: 80vw;
  margin: auto;
  padding: 1rem 0;

  &__tabs {
    width: 350px;
    margin: 0 auto;
    margin-bottom: 1rem;

    &__button {
      border-radius: 0 0 5px;
      width: 100px;
      background-color: var(--color-anti-flash-white);
      color: var(--color-jet);
      font-size: 16px;

      height: 35px;
      width: 175px;
      border-radius: 45px;
      border: none;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      padding: 0 40px 0 40px;
      margin: auto;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      cursor: pointer;
      outline: none;
      transition: all 0.3s ease 0s;
      padding: 0;

      &:first-child {
        border-radius: 45px 0 0 45px;
      }

      &:last-child {
        border-radius: 0 45px 45px 0;
      }

      &--active {
        background-color: var(--color-liver);
        color: var(--color-silver);
      }
    }
  }

  &__wrapper {
    &__title {
      text-align: center;
      letter-spacing: 1.5px;
    }

    &__books {
      padding: 1rem 2rem;
      width: 100%;
      max-width: 1260px;
      height: auto;
      min-height: 80vh;
      margin: auto;
      display: flex;
      gap: 59px;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  &__info {
    padding: 1rem 2rem;
    width: 100%;
    max-width: 1260px;
    margin: 20px auto;
    text-align: center;

    button {
      height: 35px;
      width: 350px;
      border-radius: 45px;
      border: none;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      padding: 0 40px 0 40px;
      margin: auto;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      cursor: pointer;
      outline: none;
      transition: all 0.3s ease 0s;
      padding: 0;
    }

    &__infos {
      margin: 30px auto;
      
      &__bold {
        font-weight: 700;
      }

      &__cursive {
        font-style: italic;
      }
    }
  }
}
